*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh !important;
  background: rgba(17,13,86, .4);
  background: linear-gradient(99deg, rgba(17,13,86,1) 33%, rgba(16,16,190,1) 49%, rgba(12,99,117,1) 64%);
}

